:root{
    --main-color:#a36d6a;
    --font-color-dark:#4E3836;
    --font-color-medium:#a36d6a;
    --font-color-light: #dbc4c4;
}

header{
    height: 0;
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
}
/* top left랑 width, heigt는 왜 0이어야하는지?
 어떻게 먹히는건지 설명해주세요 ㅜㅜ  */
 /* 픽스라서 top left 0 위치 정해준거 */

 /* img heigth를 100%아니고 vw로 주는것도 생각해봄 
 크기에 따라 늘어났다 줄어들어다 됨  */

.logo-header{
    width: 115px;
    height: 35px;
    background-size: cover;
}

/* a에 주는거랑 img에 주는거랑 차이 */

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

.costomer figure{
    background-image: url(../img/account_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    cursor: default;
}

.circle{
    /* position: absolute;
    top: 30px;
    right: ;
    display: block;
    line-height: 12px;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%; */
    position: absolute;
    background-color: var(--main-color);
    top: 5px;
    right: 93%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
}

.circle:hover{
    width: 150px;
    height: 20px;
    transition: 0.3s;
}

.circle p{
    display: none;
    
}

.circle:hover p{
    display: block;
    /* display none을 block으로 해준것 */
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    /* 높이가 20이라서 가운데 정렬 위해 20px */
    font-family: sans-serif;
    font-weight: 600;
    font-size: 10px;
}

.question figure{
    background-image: url(../img/search_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    cursor: pointer;
}

.bag figure{
    background-image: url(../img/cart_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 50px 20px;
    

}

.header-container ul{
    display: flex;
    position: relative;
}

.shop-wrapper{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 56px;
}

.shop-con{
    display: flex;
    /* a의 부모에 flex해줘서 한줄 다 선택되는거 없앰 */
}

.shop{
    margin-bottom: 20px;
}

.shop p{
    font-size: 16px;
    color: var(--font-color-dark);
}

.arrow{
    background-image: url(../img/arrow_right_out_d.svg);
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-size: 100%;
    display: inline-block;
}

.hambarger{
    width: 30px;
    height: 16px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    background-color: transparent;
    position: relative;
}

.hambarger::after{
    content: '';
    width: 30px;
    height: 8px;
    border-bottom: 1px solid var(--main-color);
    position: absolute;
}

.main-nav{
    padding: 60px;
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;
    z-index: 1; */
    /* z-index 주면 header가 또 안먹혀요... */
}

.main-nav h2{
    font-size: 32px;
    color: var(--main-color);
    margin-bottom: 30px;

}

.first-nav{
    display: flex;
    max-width: 1000px;
    
}

.first-nav li {
    margin-left: 24px;
}

.first-nav a{
   color: var(--font-color-light);
   font-size: 17px;
   cursor: pointer;

}

.first-nav a:hover{
    text-decoration: underline;
    color: var(--main-color);
}

#suggestion{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.sug-img{
    background-image: url(../img/01_cat_look_banner_pc_bg.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#suggestion h3{
    font-size: 20px;
    color: #ffffff;
    font-family: sans-serif;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    /* flex줬으면 position으로 가운데정렬 하지말기
     justify center로 상하가운데로 */
}

#suggestion strong{
    font-weight: 600;
}

#moment{
    padding: 150px 10px;
    background-color: #ffffff;

}

.ment-eng{
    font-size: 32px;
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    color: var(--font-color-dark);
    text-align: center;
    padding: 0 30px 15px 30px;
}

.ment-ko{
    font-size: 14px;
    color: #4E3836;
    padding: 0 30px;
    text-align: center;
    font-family:  Akkurat, Helvetica, Arial, "Noto Sans KR", 본고딕, "애플SD 고딕네오", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", 돋움, Dotum, sans-serif;;
    font-weight: 600;
    margin-bottom: 30px;
}

.img-wrapper{
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
    position: relative;
/* 이미지 가운데 정렬 하는 법 */
}

.blue{
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
}

.white-circle{
    width: 22px;
    height: 22px;
    border-radius: 22px;
    font-size: 15px;
    color: black;
    border: none;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    cursor: pointer;
}

.one{
    position: absolute;
    left: 43%;
    top: 37%;

}

.two{
    position: absolute;
    left: 58%;
    top: 55%;
}

.white-circle{
    transition: 0.5s;
}

.one:focus,.two:focus{
    background-color: var(--main-color);
    color: white;
}


/* 1,2 선택하면 밑에 제품사진 움직이고 동그라미 색 바뀌게
 어떻게 해요?? target?? */
/* button 누르면 어떤 기능이 있게 하는건지? */
/* 버튼은 내가 만들고싶은 기능 넣을 수 있음 */
/* focus target hover */



.sale{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.sale-box{
    flex-basis: 50%;
    max-width: 50%;
    height: 200px;
    overflow: hidden;
    position: relative;
    /* a의 relative */
    
}

.tone-up{
    background-image: url(../img/03_rtg_bg_01_pc_mo_tag.jpg);
    background-size: 480px 200px;
    
}

.back-img{
    width: 480px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
    /* position: absolute; */
    /* z-index: -1; */
}


.a-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.text{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 50%;
    color: var(--font-color-dark);
    line-height: 1.3;
}

.brown{
    color: white;
    background-color: var(--main-color);
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
}

.title{
    font-size: 15px;
    font-weight: 600;
    
}

.color{
    margin-top: 10px;
    font-size: 12px;
}


.price{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    font-weight: 600;

}

.won{
    font-size: 10px;
}

.tone-up-img{
    background-image: url(../img/03_thumb_01_pc_mo_tag.png);
}

.product-img{
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 240px; */
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(30%);
    transition: 1s;
}

.sale-box:hover .product-img{
    transform: translateX(10%);
}

#mood{
    padding: 150px 10px;
    background-color: #ffffff;
}

.coral-glow{
    background-image: url(../img/03_rtg_bg_02_pc_mo_tag.jpg);
}

.glow-img{
    background-image: url(../img/03_thumb_02_pc_mo_tag.png);
}

.one-2{
    position: absolute;
    left: 43%;
    top: 53%;
}

.two-2{
    position: absolute;
    left: 36%;
    top: 27%;
}

.orange-glow{
    background-image: url(../img/03_rtg_bg_01_pc_mo_tag1.jpg);
}

.orange-img{
    background-image: url(../img/03_thumb_01_pc_mo_tag1.png);
}

.shadow{
    background-image: url(../img/03_rtg_bg_02_pc_mo_tagsha.jpg);
}

.shadow-img{
    background-image: url(../img/03_thumb_02_pc_mo_tagsha2.png);

}

footer{
    background-color: var(--main-color);
    padding: 40px 20px 20px 20px;
    color: #ffffff;
    /* 딱 반반 나누려면 어떤 속성? */
    position: relative;
    /* talk 포지션 */
}

.row{
    display: flex;
    
}

.footer-left{
    /* display: flex;
    flex-direction: column; */
    flex-basis: 50%;
    max-width: 50%;
}
/* a자체에 크기 줘서 해결은 했지만
 왜 a의 부모에 flex줘도 왜 한줄 다 선택되는거죠? */

.footer-right{
    flex-basis: 50%;
    max-width: 50%;
    display: flex;

}


.footer-right > *{
    width: 33.3333%;
}

.symbol-con{
    width: 64px;
    height: 58px;
}


.footer-text{
    font-size: 11px;
    opacity: 0.65;
    margin-top: 50px;
    line-height: 1.5;
}

.terms{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}
.terms > a{
    margin: 0 5px;
}

footer a{
    color: #ffffff;
}

.underline{
    text-decoration: underline;
}

.none-under:hover{
    text-decoration: none;
}

.title-footer{
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    font-size: 13px;
    margin-bottom: 5px;
}

.number{
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    font-size: 32px;
    margin-bottom: 20px;
}

.time{
    font-size: 11px;
    line-height: 1.5;
}

.footer-right a{
    font-size: 11px;
    opacity: 0.65;
    font-weight: 500;
    line-height: 1.5;
}

.footer-right a:hover{
    text-decoration: none;
    opacity: 1;
}

.Order-Tracking{
    margin-bottom: 20px;
}

.icons{
    display: flex;
    margin-left: 50%;
    /* margin-left로 옆으로 가게헤줌 */
    position: relative;
    margin-bottom: 10px;
}

.icons a{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.insta{
    background-image: url(../img/instagram_out_w.svg);
}

.katalk{
    background-image: url(../img/kakaotalk_out_w.svg);
}

.twitt{
    background-image: url(../img/twitter_out_w.svg);
}

.up{
    background-image: url(../img/circle_arrow_up_out_w.svg);
    /* background-color: var(--main-color); */
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    right: 9px;
    /* transform: translateY(-35px); */
    bottom: 35px;
    
}
/* 이거 맞는지 */
/* flex 반반 하고싶으면 basis나 width주면? */
/* footer-text html 지저분 */

.talk{
    background-image: url(../img/hince_channeltalk.png);
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 93%;
    right: 50px;

}

@media screen and (max-width:900px){
    .header-container{
        margin: 15px 10px 30px 10px;
    }
    .logo-header{
        width: 100px;
        height: 30px;
    }
    .shop-wrapper{
        padding-left: 10px;
    }
    .shop,.arrow{
        display: none;
    }

    .main-nav{
        width: 100%;
        height: 100%;
        text-align: right;
        display: inline-block;
        height: auto;
        padding: 0;
        padding: 0 10px 10px 10px;
        box-sizing: border-box;
    }
    .main-nav h2{
        width: 100%;   
        display: inline-block;
        margin: 100px 0 20px 0;
    }
    .first-nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 20px;

    }
    #moment{
        padding: 40px 10px;
    }
    .white-circle{
        width: 12px;
        height: 12px;
        border-radius: 12px;
        font-size: 10px;
        /* text-align: center; */
        line-height: 12px;
        padding: 0;
    }
    .sale{
        flex-direction: column;
        max-width: 100%;
    }
    .sale-box{
        flex-basis: 100%;
        max-width: 100%;
        height: 150px;
        margin-bottom: 20px;
    }
    .back-img{
        width: 100%;
        background-position: 20% 50%;
    }
}
/* 오른쪽 정렬 어떻게 하죵,,,ㅜㅜ */
/* fist nav에 줌 flex-end 렁 wrap 줌*/