:root{
    --main-color:#a36d6a;
    --font-color-dark:#4E3836;
    --font-color-medium:#a36d6a;
    --font-color-light: #dbc4c4;
}

header{
    height: 0;
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
}
/* top left랑 width, heigt는 왜 0이어야하는지?
 어떻게 먹히는건지 설명해주세요 ㅜㅜ  */


.logo-header{
    width: 115px;
    height: 35px;
    background-size: cover;
}

/* a에 주는거랑 img에 주는거랑 차이 */

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

.costomer figure{
    background-image: url(../img/account_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    cursor: default;
}

.circle{
    /* position: absolute;
    top: 30px;
    right: ;
    display: block;
    line-height: 12px;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%; */
    position: absolute;
    background-color: var(--main-color);
    top: 5px;
    right: 93%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
}

.circle:hover{
    width: 150px;
    height: 20px;
    transition: 0.3s;
}

.circle p{
    display: none;
    
}

.circle:hover p{
    display: block;
    /* display none을 block으로 해준것 */
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    /* 높이가 20이라서 가운데 정렬 위해 20px */
    font-family: sans-serif;
    font-weight: 600;
    font-size: 10px;
}

.question figure{
    background-image: url(../img/search_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    cursor: pointer;
}

.bag figure{
    background-image: url(../img/cart_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 50px 20px;
    

}

.header-container ul{
    display: flex;
    position: relative;
}

.shop-wrapper{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 56px;
}

.shop-con{
    display: flex;
    /* a의 부모에 flex해줘서 한줄 다 선택되는거 없앰 */
}

.shop{
    margin-bottom: 20px;
}

.shop p{
    font-size: 16px;
    color: var(--font-color-dark);
}

.arrow{
    background-image: url(../img/arrow_right_out_d.svg);
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-size: 100%;
    display: inline-block;
}

.hambarger{
    width: 30px;
    height: 16px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    background-color: transparent;
    position: relative;
}

.hambarger::after{
    content: '';
    width: 30px;
    height: 8px;
    border-bottom: 1px solid var(--main-color);
    position: absolute;
}

.main-nav{
    padding: 60px;
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;
    z-index: 1; */
    /* z-index 주면 header가 또 안먹혀요... */
}

.main-nav h2{
    font-size: 32px;
    color: var(--main-color);
    margin-bottom: 30px;

}

.first-nav{
    display: flex;
    
}

.first-nav li {
    margin-left: 24px;
}

.first-nav a{
   color: var(--font-color-light);
   font-size: 17px;
   cursor: pointer;

}

.first-nav a:hover{
    text-decoration: underline;
    color: var(--main-color);
}

#suggestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#suggestion figure{
    background-image: url(../img/01_cat_look_banner_pc_bg.jpg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#suggestion h3{
    font-size: 20px;
    color: #ffffff;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#suggestion strong{
    font-weight: 600;
}
