:root{
    --main-color:#a36d6a;
    --font-color-dark:#4E3836;

}

.logo-header{
    width: 115px;
    height: 35px;
    background-size: cover;
}

/* a에 주는거랑 img에 주는거랑 차이 */

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

.costomer figure{
    background-image: url(../img/account_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    cursor: default;
}

.circle{
    /* position: absolute;
    top: 30px;
    right: ;
    display: block;
    line-height: 12px;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%; */
    position: absolute;
    background-color: var(--main-color);
    top: 5px;
    right: 93%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
}

.circle:hover{
    width: 150px;
    height: 20px;
    transition: 0.3s;
}

.circle p{
    display: none;
}

.circle:hover p{
    display: block;
    /* display none을 block으로 해준것 */
    color: #fff;
    font-size: 10px;
    font-weight: 200;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
}

.question figure{
    background-image: url(../img/search_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    cursor: pointer;
}

.bag figure{
    background-image: url(../img/cart_out_d.svg);
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    

}

.header-container ul{
    display: flex;
    position: relative;
}

.shop-wrapper{
    padding-left: 20px;
    display: flex;
    /* a의 부모에 flex해줘서 한줄 다 선택되는거 없앰 */
    flex-direction: column;
}

.shop{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}

.shop p{
    font-size: 16px;
    font-family: 'Constantia','Times New Roman','Times','Georgia','나눔명조','Nanum Myeongjo','바탕','Batang',serif;
    color: var(--font-color-dark);
}

.arrow{
    background-image: url(../img/arrow_right_out_d.svg);
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-size: 100%;
    display: inline-block;
}

.hambarger{
    width: 30px;
    height: 16px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    background-color: transparent;
    position: relative;
}

.hambarger::after{
    content: '';
    width: 30px;
    height: 8px;
    border-bottom: 1px solid var(--main-color);
    position: absolute;
}